.button {
    padding: .2em .4em;
    display: inline-block;
    vertical-align: top;
    border: 1px solid grey;
    border-radius: 4px;
}

.button:hover {
    background: grey;
    cursor: pointer;
    color: white;
}

.button.small {
    font-size: .8em;
}

.button.large {
    font-size: 1.2em;
}